@font-face {
	font-family: "Kapra Neue Custom";
	src: local("Kapra Neue Custom") url("https://socialdemokraterna.se/build/fonts/KapraNeueCustom-Bold.eot?#iefix") format("embedded-opentype"), url("https://socialdemokraterna.se/build/fonts/KapraNeueCustom-Bold.woff") format("woff"), url("https://socialdemokraterna.se/build/fonts/KapraNeueCustom-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Avenir LT Std";
	src: local("Avenir LT Std") url("https://socialdemokraterna.se/build/fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("https://socialdemokraterna.se/build/fonts/AvenirLTStd-Medium.woff") format("woff"), url("https://socialdemokraterna.se/build/fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("https://socialdemokraterna.se/build/fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Avenir LT Std";
	src: local("Avenir LT Std") url("https://socialdemokraterna.sehttps://socialdemokraterna.se/build/fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), url("https://socialdemokraterna.se/build/fonts/AvenirLTStd-Black.woff") format("woff"), url("https://socialdemokraterna.se/build/fonts/AvenirLTStd-Black.ttf") format("truetype"), url("https://socialdemokraterna.se/build/fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
	font-style: normal;
	font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Kapra Neue Custom";
	text-transform: uppercase;
}

body {
	font-family: "Avenir LT Std", Helvetica, sans-serif
}

li > p {
	margin: 5px 0px;
}